# dependencies
node_modules/
node_modules.partial/
node_modules.virtual/
.pnpm-store/
.pnpm/

# next.js
.next/
out/

# local environment
.env
.env.local
.env.*.local

# vercel
.vercel/

# logs and OS
*.log
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
